/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */
@media only screen and (max-width: 576px) {
  /* -----Navbar Mobile Responsive Added----- */
  nav {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .nav-container {
    justify-content: space-around;
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    color: rgb(58, 58, 58);
  }
  .nav-item {
    display: none;
  }

  /* ----- Banner Section Mobile Responsive Added ----- */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-image {
    justify-content: center;
    margin-bottom: 14px;
    max-width: 257px;
    height: 257px;
    background-size: cover;
  }
  .banner-image img {
    max-width: 202px;
    height: 190px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-content h1 {
    text-align: center;
    font-size: 1.75rem;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .banner-content p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 20px;
  }
}

/* --------------------Tablet/Medium Device Responsive Added-------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* -----Navbar Tablet/Medium Responsive Added----- */
  .nav-container {
    flex-direction: column;
    gap: 50px;
  }
  .nav-logo h3 {
    font-size: 2rem;
  }
  .nav-links {
    gap: 60px;
  }
  
  /* ----- Banner Section Tablet/Medium Responsive Added ----- */
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-image {
    max-width: 375px;
    height: 375px;
    background-size: cover;
  }
  .banner-image img {
    max-width: 340px;
  }
}
