/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */
@media only screen and (max-width: 576px) {
  /* -----Navbar Mobile/Small Device Responsive Added----- */
  nav {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .nav-container {
    justify-content: space-around;
  }
  .fa-bars {
    display: block;
    cursor: pointer;
    color: rgb(58, 58, 58);
  }
  .nav-item {
    display: none;
  }

  /* -----Banner Section Mobile/Small Device Responsive Added----- */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-image {
    justify-content: center;
    margin-bottom: 14px;
    max-width: 257px;
    height: 257px;
    background-size: cover;
  }
  .banner-image img {
    max-width: 202px;
    height: 190px;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-content h1 {
    text-align: center;
    font-size: 1.75rem;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .banner-content p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 20px;
  }

  /* -----E-Commerce Logo Section Mobile/Small Device Responsive Added----- */
  .e-commerce {
    flex-wrap: wrap;
    margin-bottom: 50px;
    border-top: none;
    border-bottom: none;
  }

  .logo {
    margin: 10px 30px;
  }

  /* ----------Popular Collection Section Mobile/Small Device Responsive Added---------- */
  .popular-collection {
    margin-bottom: 50px;
  }
  .collection-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 15px;
  }
  .card {
    width: 100%;
  }
  .card-content h4 {
    font-weight: 700;
  }
  .card-content h5 {
    font-weight: 700;
  }
  .card-content p {
    font-weight: 400;
    margin-bottom: 25px;
  }
  .details {
    margin-top: 10px;
  }

  .see-more-btn {
    width: 359px;
    margin: 0 auto;
    margin-top: 25px;
  }

  /* ----------Feature Product Section Mobile/Small Device Responsive Added---------- */
  .feature-product-section {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .feature-content {
    align-items: center;
  }
  .feature-image {
    margin-top: 30px;
  }
}

/* --------------------Tablet/Medium Device Responsive Added-------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* -----Navbar Tablet/Medium Device Responsive Added----- */
  .nav-container {
    flex-direction: column;
    gap: 50px;
  }
  .nav-logo h3 {
    font-size: 2rem;
  }
  .nav-links {
    gap: 60px;
  }

  /* -----Banner Section Tablet/Medium Device Responsive Added----- */
  .banner-container {
    justify-content: space-around;
  }
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-image {
    max-width: 375px;
    height: 375px;
    background-size: cover;
  }
  .banner-image img {
    max-width: 340px;
  }

  /* -----E-Commerce Logo Section Tablet/Medium Device Responsive Added----- */
  .e-commerce {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .logo {
    margin: 20px;
  }

  /* ----------Popular Collection Section Tablet/Medium Device Responsive Added---------- */
  .popular-collection {
    margin-bottom: 50px;
  }
  .collection-cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
  }
  .card {
    width: 100%;
  }
  .card-content h4 {
    font-weight: 700;
  }
  .card-content h5 {
    font-weight: 700;
  }
  .card-content p {
    font-weight: 400;
    margin-bottom: 25px;
  }
  .details {
    margin-top: 10px;
  }
  .see-more-btn {
    margin-top: 25px;
    margin-right: 25px;
  }

  /* ----------Feature Product Section Tablet/Medium Device Responsive Added---------- */
  .feature-product-section {
    margin-bottom: 50px;
  }
  .feature-image {
    margin-right: 95px;
  }
}
