/* ----------Google Fonts Added---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", sans-serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Manrope", sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid blue;
  font-family: "Poppins", sans-serif;
}

/* -------------------------Shared Styles Starts Here-------------------------*/
.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
/* -------------------------Shared Styles Ends Here-------------------------*/

/* ----------Navbar Styles Added---------- */
nav {
  border: 1px solid red;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nav-container {
  border: 1px solid green;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* -----Navbar Left Content----- */
.fa-bars {
  display: none;
}
.nav-logo h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  color: rgb(224, 44, 109);
}
.nav-logo span {
  color: rgb(114, 114, 114);
}

/* -----Navbar Right Content----- */
.nav-links {
  list-style: none;
  gap: 35px;
}
.nav-link {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

/* ----------Banner Section Styles Added---------- */
.banner-section {
  border: 1px solid aqua;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 69px;
}
.banner-container {
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

/* ----- Banner Content Styles Added ----- */
.banner-content h1 {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
  color: rgb(58, 58, 58);
}
.banner-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 26px;
  color: rgb(58, 58, 58);
}

/* -----Banner Button Styles Added----- */
.banner-btn {
  text-decoration: none;
  border-radius: 41px;
  background-color: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  padding: 10px 24px 10px 24px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
}
.fa-arrow-right {
  margin-left: 12px;
}

/* -----Banner Image Styles Added----- */
.banner-image {
  background-image: url(../assets/images/Circle\ design.svg);
  background-repeat: no-repeat;
  max-width: 475px;
  height: 475px;
  width: 100%;
  display: flex;
  align-items: center;
}
.banner-image img {
  max-width: 440px;
}

/* -----E-Commerce Logo Styles Added----- */
.e-commerce {
  border: 1px solid green;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(192, 204, 218, 0.6);
  border-bottom: 1px solid rgba(192, 204, 218, 0.6);
  margin-bottom: 100px;
}
.logo {
  margin: 36px;
}

/* ---------- Popular Collection Section Styles Added---------- */
.popular-collection {
  border: 1px solid red;
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.popular-collection h3 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
  color: rgb(58, 58, 58);
  margin-bottom: 30px;
  text-align: center;
}

/* -----Collection Card Styles Added----- */
.collection-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* -----Card styles Added----- */
.card {
  padding: 15px;
  border-radius: 5px;
  max-width: 329px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

/* -----Card Image Styles Added----- */
.card-image img {
  width: 100%;
  margin-bottom: 16px;
}

/* -----Card Content Styles Added----- */
.card-content h4 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(24, 25, 31);
  margin-bottom: 6px;
}
.card-content h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
}
.card-content p {
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(120, 120, 133);
  font-family: "Inter", sans-serif;
}
.fa-star,
.fa-star-half-stroke {
  color: rgb(251, 130, 0);
}
.rating {
  margin-left: 11px;
}

/* -----See More Button Styles Added----- */
.see-more-btn {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}

/* ----------Feature Product Section Styles Added---------- */
.feature-product-section {
  border: 1px solid red;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-between;
}

/* -----Feature Image Styles Added----- */
.feature-image img {
  width: 100%;
}

/* -----Feature Content Styles Added----- */
.feature-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.feature-content h2 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 60px;
  color: rgb(10, 8, 38);
  margin-bottom: 16px;
}
.feature-content p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: rgb(108, 108, 108);
  margin-bottom: 26px;
}

/* -----Join Now Button Styles Added----- */
.join-now-btn {
  text-decoration: none;
  background-color: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  padding: 10px 24px 10px 24px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
}

/* ----------Footer Section Styles Added---------- */
#footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(10, 8, 38);
  text-align: center;
  padding: 1px;
}
.footer-section {
  margin: 50px 0px;
}
.footer-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}
.footer-text p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 24px;
  color: rgb(217, 219, 225);
  margin-bottom: 15px;
  font-family: "Manrope", sans-serif;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media a {
  color: rgb(255, 255, 255);
}
